@{
    ViewBag.Title = "Login3";
}

<h2>Login3</h2>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />-->
    <!-- <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
    <link href="../../content/boostrap/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div class="row">
                <div class="col-md-12" style="background-color:#3b5999; height:60px;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../content/images/index.f.png" style="width: 250px; height: 50px;/">&nbsp;&nbsp; &nbsp; <input type="submit" class="btn-success" value="Sign Up" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pre style="margin-top:50px; margin-left:240px; margin-right:240px;">Login Facebook<br />
                <center>Email or Phone : <input type="text" /><br />
    password :<input type="text" /><br />
                <input type="checkbox" />&nbsp;&nbsp;&nbsp;Keep Me Logged in<br />
                <input type="submit" class="btn-primery" value="Login" />or<a href="#">Signup for facebook</a><br />
                <a href="#">Forgotten password</a>
    </center></pre>
            </div>
        </div>

        </div>
    </form>
</body>

</html>

